* {
    box-sizing: border-box;
}

.row {
    width: 100%;
    display: flex;
}

.unit-box {
    width: calc(100% / 7);
    height: calc(70vh / 6);
    text-align: center;
    font-size: 2.0rem;
    line-height: calc(70vh / 6);
    transition: background-color 0.1s;
    transform: translate(15px);
}

.unattendance {
    background-color: orangered;
}

.attendance {
    background-color: greenyellow;
}

.today {
    background-color: skyblue;
    cursor: pointer;
}

.cursor-pointer {
    cursor: pointer;
}